<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:source="en" i18n:domain="asb" tal:attributes="lang locale.replace('_', '-')">
<head>
  <meta charset="utf-8">
  <title>ASB</title>
</head>
<body>
  <div id="main" hidden>
  <h1 i18n:translate="" i18n:comment="hello">Create an Abstract Salad Bar!!!!!!!!!!!</h1>
  <form id="createSalad" autocomplete=off action="/api/salads" method="post">
    <input type="hidden" name="type" value="FoodEvent" />
    <input type="hidden" name="startDate" />
    <div>
      <label for="when"><span i18n:translate="">When?</span>
        <input type="date" name="when" value="" class="saladStartDate" i18n:attributes="errormessage" list="dates" errormessage="Invalid date." autofocus/>
        <datalist id="dates">
          <option id="today" i18n:translate="">Today</option>
          <option id="tomorrow" i18n:translate="">Tomorrow</option>
          <option id="nextWeek" i18n:translate="">next Week</option>
          <option id="now" i18n:translate="">Now</option>
        </datalist>
      </label>
      <label for="at"><span i18n:translate="">at</span>
      <input type="time" name="at" value="" class="saladStartTime" list="times" i18n:attributes="errormessage" errormessage="Invalid time."/>
        <datalist id="times">
          <option id="same" i18n:translate="">Same time</option>
        </datalist>
      </label>
    <span class="help-block warning" hidden i18n:translate=""><span class="saladStartDate" i18n:name="date"></span> at <span class="saladStartTime" i18n:name="time"></span> is in the past!</span>
    <span class="help-block success" hidden i18n:translate="">Salad starts <span class="saladStartDate" i18n:name="date"></span> at <span class="saladStartTime" i18n:name="time"></span>.</span>
    </div>
    <div>
    <label for="location" i18n:translate="">Where?</label>
    <input type="text" name="location" value="" />
    </div>
    <div>
    <button type=submit i18n:translate="">Create!</button>
    </div>
  </form>
  </div>
  <div id="salad" hidden>
    <h1 i18n:translate="">Abstract Salad Bar</h1>
    <h2 id="saladLocation" i18n:translate=""></h2>
    <h2 i18n:translate="">Starts <span class="saladStartDate" i18n:name="date"></span> at <span class="saladStartTime" i18n:name="time"></span>.</h2>
    <div  id=ingredients>
    <h3 i18n:translate="">Ingredients</h3>
    <form id="createIngredient" autocomplete=off method="post">
      <input type="hidden" name="type" value="Offer" />
    </form>
    <table>
      <thead>
        <tr>
          <th><label form="createIngredient" for="name" i18n:translate="">What?</label></th>
          <th><label form="createIngredient" for="seller" i18n:translate="">Who?</label></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <td><input form="createIngredient" type="text" name="name" value="" required autofocus/>
          <span class="help-block"></span></td>
          <td><input form="createIngredient" type="text" name="seller" value="" required/>
          <span class="help-block"></span></td>
          <td><button form="createIngredient" type="submit" i18n:translate="">+</button></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</body>
<script type="text/javascript">window.onload = loadApp</script>
<script type="text/javascript" tal:define="json_dump import: json.dumps" tal:content="string: var known_locales = ${json_dump(known_locales)}">var known_locales = {}</script>
</html>
